<div class="card" style="width: fit-content;">
    <div class="card-title">
        <h1>Added Users</h1>
    </div>
    <div class="card-content">
        <div class="table-container" style="border-radius: var(--radius);">
            <table>
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone No.</th>
                        <th scope="col"><span class="sr-only">Action</span></th>
                    </tr>
                </thead>
                <tbody>
                    <% if (users && users.length > 0) { %>
                        <% users.forEach(function(user, i) { %>
                            <tr>
                                <th scope="row"><%= i + 1 %></th>
                                <td><%= user.name %></td>
                                <td>
                                    <%= user.email %>
                                </td>
                                <td><%= user.phone %></td>
                                <td>
                                    <a href="/edit-user/<%= user.id %>" class="edit-link">Edit</a>
                                    <a href="/delete-user/<%= user.id %>" class="delete-link">Delete</a>
                                </td>
                            </tr>
                        <% }); %>
                    <% } else { %>
                        <tr>
                            <td colspan="7" class="null-value">No users found</td>
                        </tr>
                    <% } %>                    
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <a href="/add-user" class="btn">Add User</a>
    </div>
</div>